
@{
    ViewData["Title"] = "Detail";
}

<div>
    <h2>Id:</h2><br />
    <h4>@Model.Id</h4>
    <h2>Icon:</h2><br />
    <h4>@Model.Icon</h4>
    <h2>Title</h2><br />
    <h4>@Model.Title</h4><br />
    <h2>Subtitle</h2>
    <h4>@Model.Subtitle</h4><br />
    <h2>Sentence</h2>
    <h4>@Model.Sentence</h4><br />

</div>

